﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>תהילים- משפחת אומרי התהילים הגדולה בעולם</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
  
    <script src="~/Scripts/jquery.scrollTo.js"></script>
  
</head>
<body class='default'>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <img src="~/Content/rightheader.png" style="float:right;margin:5px 0 5px 20px" />
           <h1 style=" ">אתר ההתנדבות של מוקד תהילים ארצי בראשות הרב מנדל</h1>

           
        </div>
    </div>
    <div class="" style="margin-top:25px;padding-top:5px;">
        @RenderBody()
        <hr />
        <footer>
            <p>תהילים- משפחת אומרי תהילים הגדולה בעולם</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
