﻿
@{
    ViewBag.Title = "כניסה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#phone").jqxInput({ placeHolder: "טלפון", height: 25, width: 200, minLength: 1, rtl:true });
     
        $("#submit").jqxButton({ width: '100' });
        $("#submit").on('click', function()
        {
            $.ajax({
                type: "POST",
                url: "/Account/LoginUserByPhone/",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({

                    phone: $("#phone").val()
                 

                }),
                dataType: "json",
                success: function (data, status, jqXHR) {
                   
                     if (data.isValide)
                    {
                        window.location = "/Home/reduceIndex/25" + data.id + "89";
                    }
                    else
                    {
                        $("#message").html("כניסה שגוייה למערכת");
                      
                    }
                }
            });
        })
    });
</script>
<style>
    label {
        float: right;
        width: 150px;
    }

    #loginForm div {
        margin: 20px;
    }

    #loginForm {
        border: 1px solid #5C9CCC;
        padding: 10px;
        width: 500px;
        margin: 50px auto;
    }

    h2 {
        text-align: center;
    }

    #submit {
        width: 100px;
        margin: 5px auto;
        display: block;
    }
</style>

<div id="loginForm">
    <h2>כניסה</h2>

    <div id="message" style="color:red"></div>
    <div>
        <label>טלפון:</label>
        <input id="phone" />
    </div>
   

    <input id="submit" value="כנס" type="button" />
    <br />
    <a href="/Account/PasswordForgotB">שכחתי סיסמא</a>
</div>
