﻿
@{
    ViewBag.Title = "שכחתי סיסמא";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    $(document).ready(function () {
        $("#mail").jqxInput({ placeHolder: "מייל", height: 25, width: 250, minLength: 1, rtl: true });
       
        $("#submit").jqxButton({ width: '150' });
        $("#submit").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/Account/SendUserMaillB/",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({

                    email: $("#mail").val()
                 

                }),
                dataType: "json",
                success: function (data, status, jqXHR) {
                    if (data) {
                        $("#message").html("המייל נשלח בהצלחה");
                        $("#goback").show();
                    }
                    else {
                        $("#message").html("כניסה שגוייה למערכת");
                       
                    }
                }
            });
        })
    });
</script>
<style>
    label {
        float: right;
        width: 250px;
    }

    #loginForm div {
        margin: 20px;
    }

    #loginForm {
        border: 1px solid #5C9CCC;
        padding: 10px;
        padding-bottom:40px;
        width: 400px;
        margin:50px auto;
    }
    #submit {
        width: 100px;
        margin-right:20px;
        display: block;
    }
    h2 {
        margin-right: 20px;
    }
</style>


<div id="loginForm">
    <h2>שכחתי סיסמא</h2>
    <div id="message" style="color:red"></div>
    <div>
        <label>אנא הכנס אימייל אליו ישלחו פרטי הכניסה:</label>
        <input id="mail" />
    </div>
    <div id="goback">
        <a href="/Account/Login">חזרה לדף הכניסה>></a>
    </div>
   
    <input id="submit" value="שלח" />
</div>
