﻿
    body {
        direction: rtl;
    }

    #header, #footer {
        background-color: #cac0c0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .itemClass td {
        border-bottom: 2px solid black;
        padding-bottom:50px;
    }

    #header {
        height: 50px;
    }

    #footer {
        height: 100px;
    }

   .itemTitle {
        font-weight: bold;
    }

    .space {
        display: inline-block;
        margin-left: 50px;
    }
    .spaceTd
    {
        padding-right:50px;
    }
