﻿
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    iframe {
        width: 100%;
        border: 0;
        height: 800px;
        min-height: 550px;
    }

    #wrapper {
        width: 95%;
        margin: 0 auto;
        height: 100%;
        min-height: 550px;
    }

    .title {
        width: 100%;
        text-align: center;
    }
</style>
<div class="title">
    <h2>@ViewBag.UserName</h2>
</div>
<div id="wrapper">
    <iframe frameborder="0" src=@Url.Content("~/Content/PDF/" + @ViewBag.FileName)></iframe>
</div>

