﻿@model TehillimVulonteerBord.Models.tormim

@{
    ViewBag.Title = "תהילים";
    Layout = "~/Views/Shared/_LayoutReduce.cshtml";
}


<style>
    body {
        font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
        font-size: 15px;
    }

    h1 {
        font-size: 18px;
    }

    a {
        color: #548dc4;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

  

        table td, table th {
            padding: 5px;
            border: 1px solid #E0E0E0;         
        }

         #dataTable table td:nth-child(5), #dataTable table th:nth-child(5) {
           
            min-width: 100px;
        }
         #dataTable table td:nth-child(6),#dataTable table th:nth-child(6) {
           
            min-width: 150px;
        }

        table th {
            background: #E5E5E5;
            text-align: right;

        }

    input.invalid {
        background: red;
        color: #FDFDFD;
    }
    td{
        padding:0;
    }
</style>




<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/reduceList.js"></script>




@Html.HiddenFor(model => model.num_torem);


<h3 style="margin-top:20px;" id="nameHeader">שלום @Model.first_name @Model.last_name  @Model.WebUser</h3>

<div id="message"></div>




<div id="dataTable">
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th style="width:10%">שם </th>
                
                <th style="width:10%">טלפון</th>
                <th style="width:30%">תאור</th>
                <th style="width:10%">תאריך</th>
                <th style="width:40%">תגובה</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

<div style="width:300px;margin:10px auto;"><button id="finialSave">סיימתי להתקשר <b>לכל</b> הרשומות</button></div>

<div id="footerText" >@ViewBag.footer</div>

